
$font-text-nav:25px;
$font-text-p:20px;
$font-text-h1:35px;
$font-style1:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$shadow:rgba(145, 11, 98, 0.8);
$font-size-small:15px;
$font-size-title:25px;
$font-size-title2:22px;
$font-size-title3:18px;

/*personalizzo i valori di bootsrap*/
// variables.scss
$purple-400: #a9125b; // cambio viola
$black: #111;         // cambio nero
